---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { Card } from 'accessible-astro-components'
---

<DefaultLayout
  title="新加坡银行卡办理指南"
  description="新加坡卡办理、避坑指南"
  url="singapore"
>
  <section class="my-5">
    <div class="space-content container">
      <h1>新加坡银行卡办理指南</h1>
      <p class="text-2xl">
        新加坡卡办理、避坑指南
      </p>
    </div>
  </section>
  <section class="my-12">
    <div class="container">
      <ul class="my-3">
        <li>
            <Card
            url='/singapore/ocbc'
            title='华侨银行'
            footer=''
            >
            华侨银行卡办理指南
            </Card>
        </li>
      </ul>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
