---
import DefaultLayout from './DefaultLayout.astro'

const { frontmatter } = Astro.props
---

<DefaultLayout title={frontmatter.title} page_url={frontmatter.page_url}>
  <div class="container">
    <div class="space-content my-5">
      <slot />
    </div>
  </div>
</DefaultLayout>
